# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
db.sqlite3

# Virtual env
venv/

# Env/segredos
.env
.env.*

# VS Code / IDE
.vscode/
.idea/

# Static coletado em produção (se usar collectstatic)
staticfiles/
